/* Kontejner pro celou komponentu */
.project-screens-container {
    background-color: transparent;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Projektová položka - nastavena maximální šířka a gap */
  .project-item {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    margin: 20px 0;
    gap: 0px;
    align-items: center;
  }
  
  /* Řádkové rozložení na větších obrazovkách */
  @media (min-width: 1025px) {
    .project-item.row {
      flex-direction: row;
    }
    .project-item.row-reverse {
      flex-direction: row-reverse;
    }
  }
  
  /* Sloupcové rozložení na menších obrazovkách */
  @media (max-width: 1024px) {
    .project-item {
      flex-direction: column;
      text-align: center;
    }
  }
  
  /* Kontejner pro obrazovku - zvětšeno */
  .screen-container {
    flex: 1;
    width: 100%;
    max-width: 1400px; /* zvětšeno z 1000px */
    aspect-ratio: 16 / 9; /* změněn poměr stran */
    position: relative;
  }
  
  /* Kontejner pro popis */
  .description-container {
    flex: 1;
    width: 100%;
    max-width: 600px;
  }
  
  /* Styly pro popis projektu */
  .project-description {
    padding: 10px;
    color: #eee;
  }
  
  .project-title-container,
  .project-description-container,
  .project-technologies-container,
  .project-icons-container {
    margin-bottom: 10px;
  }
  
  .project-title-container h3 {
    margin: 0;
    font-size: 1.5rem;
  }
  
  .project-paragraph {
    margin: 0;
    line-height: 1.5;
    font-size: 1rem;
  }
  
  .project-technology-tag {
    padding: 4px 8px;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    font-weight: bold;
    margin-right: 5px;
    display: inline-block;
  }
  
  .project-icons-container a img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
  }
  
  /* Zarovnání textu */
  .text-left {
    text-align: left;
    justify-content: flex-start;
  }
  
  .text-right {
    text-align: right;
    justify-content: flex-end;
  }
  
  /* Kontrolní tlačítka pod plátnem */
  .sc-controls {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  /* Úprava pro velmi malé obrazovky */
  @media (max-width: 480px) {
    .project-title-container h3 {
      font-size: 1.2rem;
    }
    .project-paragraph {
      font-size: 0.9rem;
    }
    .screen-container {
      max-width: 100%;
      aspect-ratio: 4 / 3;
    }
  }