.scroll-indicator {
    width: 100vw;
    height: 100vh; /* Zabere celou výšku viewportu */
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Umístí obsah dole */
    align-items: center;
    background-color: transparent;
    padding-bottom: 5rem;
  }
  
  .scroll-indicator__icon {
    margin-bottom: 1rem;
  }
  
  /* Nově: nastavení barvy SVG přes CSS */
  .scroll-indicator__icon svg {
  }
  
  .scroll-indicator__text {
    font-size: 1.5rem;
    font-family: sans-serif;
    margin-bottom: 2rem;
  }
  
  /* Media queries pro responsivní design */
  @media (max-width: 768px) {
    .scroll-indicator {
      padding-bottom: 1rem;
    }
  
    .scroll-indicator__icon {
      margin-bottom: 0.5rem;
    }
  
    .scroll-indicator__icon svg {
      width: 30px;
      height: 30px;
    }
  
    .scroll-indicator__text {
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }
  }